# Data Structure - List, Set, Dictionary & Tuple

# Lists

A list is a mutable, ordered sequence of elements. List can contain any type of values. List is defined by having values between square brackets [ ]

In [1]:
type([])

list

In [2]:
lst_ex=[]

In [3]:
type(lst_ex)

list

In [4]:
lst=list()

In [5]:
type(lst)

list

In [6]:
lst_example=['Hello', 'Python', True, 100, 30.0, 20]

In [7]:
lst_example

['Hello', 'Python', True, 100, 30.0, 20]

# List Operations

In [8]:
#add elements to the last
lst_example.append("First")

In [9]:
lst_example

['Hello', 'Python', True, 100, 30.0, 20, 'First']

In [11]:
#add element at specified location
lst_example.insert(0,11)

In [12]:
lst_example

[11, 'Hello', 'Python', True, 100, 30.0, 20, 'First']

In [14]:
#add list to existing list
lst_example.extend([False])

In [15]:
lst_example

[11, 'Hello', 'Python', True, 100, 30.0, 20, 'First', False]

In [16]:
#Indexing in List
lst_example[5]

30.0

In [17]:
lst_example[1:6]

['Hello', 'Python', True, 100, 30.0]

In [18]:
lst_example[:4]

[11, 'Hello', 'Python', True]

In [22]:
lst_example[5:]

[30.0, 20, 'First', False]

In [23]:
#Calculates occurrence of given element of List
lst_example.count(100)

1

In [24]:
lst_example.reverse()

In [25]:
lst_example

[False, 'First', 20, 30.0, 100, True, 'Python', 'Hello', 11]

# SET

A Set is an unordered collection that is iterable, mutable and has no duplicate elements.Can be defined using set() constructor as well as curly braces {}

In [30]:
set_ex={1,2,3,4,3,2,5}

In [31]:
type(set_ex)

set

In [32]:
set_ex

{1, 2, 3, 4, 5}

In [33]:
## Defining an empy set

set_ex1= set()

In [34]:
set_ex1={'a','b','c','d','a'}

In [35]:
set_ex1

{'a', 'b', 'c', 'd'}

# Set Operations

In [36]:
set1={"a","b",'c'}
set2={"a","b",'d','e'}

In [37]:
set1.intersection_update(set2)

In [39]:
set1

{'a', 'b', 'c'}

In [42]:
##Difference 
set1.difference(set2)

{'c'}

In [46]:
set1.difference_update(set2)

In [48]:
set1

{'a', 'b', 'c'}

In [49]:
set1.symmetric_difference(set2)

{'a', 'b', 'c'}

In [52]:
set1={1,2,3}
set2={2,3,4}

In [53]:
set1.union(set2)

{1, 2, 3, 4}

# Dictionaries

A dictionary is an unordered, mutable, indexed collection which contains key-value pairs. Dictionaries are written with curly braces.

In [56]:
dic={}

In [94]:
type(dic)

dict

In [96]:
dict_1={1,2,3,4,5}
print(type(dict_1))

<class 'set'>

In [58]:
first_dict={"1": "a", "2":"b","3":"c"}

In [59]:
first_dict

{'1': 'a', '2': 'b', '3': 'c'}

In [61]:
first_dict['1']

'a'

In [62]:
for i in first_dict.items():
    print(i)

('1', 'a')
('2', 'b')
('3', 'c')

In [63]:
for i in first_dict.keys():
    print(i)

1
2
3

In [64]:
for i in first_dict.values():
    print(i)

a
b
c

In [65]:
first_dict['4']='d'

In [66]:
first_dict

{'1': 'a', '2': 'b', '3': 'c', '4': 'd'}

In [67]:
first_dict['1']='Apple'

In [68]:
first_dict

{'1': 'Apple', '2': 'b', '3': 'c', '4': 'd'}

# Nested Dictionary

In [69]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [70]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [73]:
car_type['car3']

{'Ambassador': 1980}

In [72]:
car_type['car1']['Mercedes']

1960

# Tuples

Tuple is an immutable colection where elements of a tuple once it is assigned can not be changed.A tuple is created by placing all the elements inside parentheses (), separated by commas. The parentheses are optional.

In [74]:
# tuple with mixed datatypes
tuple_1 = (3, "Welcom", 5.2, True)
print(tuple_1)

(3, 'Welcom', 5.2, True)

In [75]:
# nested tuple
tuple_1 = ("Hello", [2, 4, 8], (1, 2, 3))
print(tuple_1)

('Hello', [2, 4, 8], (1, 2, 3))

A tuple can also be created without using parentheses. This is known as tuple packing.

In [76]:
tuple_1 = 2, 5.6, "Hello"
print(tuple_1)

# tuple unpacking is also possible
a, b, c = tuple_1

print(a)      
print(b)      
print(c)

(2, 5.6, 'Hello')
2
5.6
Hello

Creating a tuple with one element is a bit tricky.

Having one element within parentheses and trailing with comma indicate that it is a tuple.

In [77]:
tuple_1 = ("hello")
print(type(tuple_1))  # <class 'str'>

# Creating a tuple having one element
tuple_1 = ("hello",)
print(type(tuple_1))  # <class 'tuple'>

# Parentheses is optional
tuple_1 = "hello",
print(type(tuple_1))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

# Access Tuple Elements

# Indexing

We can use the index operator [] to access an item in a tuple where the index starts from 0

In [78]:
# Accessing tuple elements using indexing
tuple_1 = ('a','e','i','o','u','b')

print(tuple_1[0])

a

In [79]:
# nested tuple
tuple_1 = ("Welcome", [8, 4, 6], (1, 2, 3))

# nested index
print(tuple_1[0][3])

c

# Negative Indexing

The index of -1 refers to the last item, -2 to the second last item and so on.

In [80]:
tuple_1 = ('a','e','i','o','u','b')
print(tuple_1[-1])

b

# Slicing

We can access a range of items in a tuple by using the slicing operator colon :

In [82]:
tuple_1 = ('a','e','i','o','u','b')
# elements 1st to 4th
print(tuple_1[:4])

('a', 'e', 'i', 'o')

In [87]:
tuple_1 = ('a','e','i','o','u','b')
# elements beginning to 2nd
print(tuple_1[:-4])

('a', 'e')

# Deleting a Tuple

We cannot delete items from a tuple.We can delete the tupe entirely using the keyword del.

In [88]:
tuple_1 = ('a','e','i','o','u','b')
del tuple_1[2]

TypeError: 'tuple' object doesn't support item deletion

In [89]:
tuple_1 = ('a','e','i','o','u','b')
del tuple_1

In [90]:
tuple_1

NameError: name 'tuple_1' is not defined

# Tuple Operations

Methods that add items or remove items are not available with tuple. Only the following two methods are available.
1. Tuple.count()
2. Tuple.index()

In [91]:
tuple_1 = ('a','e','i','o','u','o')
print(tuple_1.count('o'))  
print(tuple_1.index('u'))

2
4

# Tuple Membership

We can test if an item exists in a tuple or not using the keyword 'in' or 'not in'.

In [92]:
tuple_1 = ('a','e','i','o','u','o')
print('e' in tuple_1)
print('s' not in tuple_1)

True
True

# Iterating Through a Tuple

In [93]:
tuple_1 = ('a','e','i','o','u','o')
for i in tuple_1:
    print(i)

a
e
i
o
u
o

# Advantages of Tuple over List

Tuples are quite similar to lists. However, there are certain advantages of implementing a tuple over a list. 

Advantages:

    1. We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.
    2. Since tuples are immutable, iterating through a tuple is faster than with list. So there is a slight performance boost.
    3. Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
    4. If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.