# Lambda, Map, Filter Function & List Comprehension

Anonymous function without any name. If we have a single expresion in a function then we convert that function as lamda function.

In [34]:
#addition in classical way
def add(x,y):
    return x+y

In [2]:
add(10,20)

30

In [6]:
#with Lamda function
addition=lambda x,y:x+y

In [7]:
addition(10,20)

30

In [10]:
def even(num):
    if(num%2==0):
        return True

In [11]:
even(10)

True

In [12]:
even=lambda n:n%2==0

In [13]:
even(15)

False

# Map function

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

map(fun, iter)

If we have to apply a common function to a list of numbers without iterating then we can use map function

In [14]:
def odd_even(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

In [15]:
odd_even(30)

'The number 30 is even'

In [16]:
lst=[2,3,4,6,7,8,9,34,23,45]
map(odd_even,lst)

In [18]:
#Map do lazy loading hence it returned memory location so convert it into a list
list(map(odd_even,lst))

['The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 34 is even',
 'The number 23 is odd',
 'The number 45 is odd']

In [20]:
# Map with lambda function withiout creating a method
list(map(lambda x:x%2==0,lst))

[True, False, True, True, False, True, False, True, False, False]

In [21]:
# Add two lists using map and lambda
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
  
list(map(lambda x, y: x + y, numbers1, numbers2))

[5, 7, 9]

In [22]:
# map() can listify the list of strings individually

str_lst = ['rat', 'bat', 'cat', 'mat']
list(map(list, str_lst))

[['r', 'a', 't'], ['b', 'a', 't'], ['c', 'a', 't'], ['m', 'a', 't']]

# Filter

In [23]:
def even(num):
    if num%2==0:
        return True

In [24]:
lst=[2,3,4,5,7,6,34,56,23]
list(filter(even,lst))

[2, 4, 6, 34, 56]

In [25]:
#With Lambda function
list(filter(lambda x:x%2==0,lst))

[2, 4, 6, 34, 56]

# List Comprehension

Concise way to create list.

In [30]:
lst_1=[]
def lst_square(lst):
    for i in lst:
        lst_1.append(i*i)
    return lst_1

In [31]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [32]:
#With list comprehension- [operation, for loop]
lst=[1,2,3,4,5,6,7]

[i*i for i in lst]

[1, 4, 9, 16, 25, 36, 49]

In [33]:
#Square only even numbers

[i*i for i in lst if i%2==0]

[4, 16, 36]